:root {
  --white: #ececec;
  --blue: #7265E2;
  --ligthblue: #6ab9c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

body {
    height: 100%;
}

header {
  width: 100%;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
  background: rgb(81,75,134);
  background: linear-gradient(180deg, rgba(81,75,134,1) 2%, rgba(114,101,226,1) 15%);
}

header h1 {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: 300;
}

.container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #e2ecea;
}

.container form {
  background: var(--ligthblue);
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem;
  margin-top: 5%;
  border-radius: 0.8rem;
}

.container form label {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 600;
}

.container form input{
    border: 0;
    outline: 0;
    margin: 5% 0;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container form input:focus{
    box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.container form button{
    cursor: pointer;
    margin-top: 3%;
    border: 0;
    outline: 0;
    padding: 0.8rem;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--blue);
    color: var(--white);
    transition: 0.3s ease-in-out;
}

.container form button:hover{
    color: var(--blue);
    background: var(--white);
}

.container .result-box{
    margin-top: 5%;
    background: var(--white);
    width: 40%;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    color: var(--blue);
}

.container .result-box h2{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 5% 0;
    text-align: center;
}

.container .result-box span{
    font-weight: 300;
    font-size: 1.2rem;
}

.container #btnRestart{
    cursor: pointer;
    border: 0;
    outline: 0;
    background: var(--white);
    color: var(--blue);
    padding: 1rem;
    margin-top: 3%;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2rem ease-in-out;
    display: none;
}

.container #btnRestart:hover{
    background: var(--blue);
    color: var(--white);
}

footer{
    padding: 1.5rem;
    text-align: center;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

footer p{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 300;
}